{# Админы хуудас #}

{% extends "admin/layout.html" %}

{% block actions %}
  <strong>Клубын бүртгэл</strong>
  <div class="right mb10">
    <a href="{{ url_for('admin.index') }}">БУЦАХ</a>
  </div>
  <form action="{{ url_for('admin.add_club') }}" method="POST">
    {{ form.creator(placeholder="Үүсгэн байгуулагч") }} <br>
    {{ form.createdDate(placeholder="Байгуулагдсан огноо", type="date") }} <br>
    {{ form.name(placeholder="Нэр") }} <br>
    {{ form.email(placeholder="И-мэйл") }} <br>
    {{ form.website(placeholder="Вэбсайт") }} <br>
    {{ form.address(placeholder="Хаяг") }} <br>
    {{ form.phone(placeholder="Утас") }} <br>
    {{ form.csrf_token }}
    <div>
      Зохион байгуулагч
    </div>
    {{ form.organizerName(placeholder="Нэр") }} <br>
    {{ form.organizerPhone(placeholder="Утас") }} <br>
    {{ form.organizerEmail(placeholder="Имэйл") }} <br>
    <input type="submit" value="Хадгалах">
  </form>
{% endblock %}
