{# Админы хуудас #}

{% extends "admin/layout.html" %}

{% block actions %}
<strong>Клубын жагсаалт: 3</strong>
<div class="right mb10">
  <a href="{{ url_for('admin.add_club') }}">НЭМЭХ</a>
</div>
<table class="border">
  <thead>
    <tr>
      <th>Нэр</th>
      <th>Спортын төрөл</th>
      <th>Байгуулагдсан хугацаа</th>
      <th>Зохион байгуулагч</th>
      <th>Холбоо барих</th>
      <th>Үйлдлүүд</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Алдар спорт</td>
      <td>Өндөр уул</td>
      <td>2016-06-15</td>
      <td>Анар</td>
      <td>99887744</td>
      <td>
        <a href="#">засах</a>
        <a href="#">устгах</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
